.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 130px;
  position: relative;
}

.book__title {
  margin-top: 10px;
  font-size: 14px;
}

.book__authors {
  font-size: 10px;
}

.book__image {
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.book__sticky {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 50px solid #E05263;
  border-right: 50px solid transparent;
}

.book__shelf {
  position: absolute;
  top: -45px;
  left: 5px;
  width: 20px;
  height: 20px;
}
