.books {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.books__header {
  padding: 20px 0;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  text-align: center;
  display: flex;
  padding: 20px;
}

.books__search {
  flex: 1 0;
  margin-left: 10px;
  border: none;
  font-size: 13px;
  color: black;
}

.books__result {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.books__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
}

.books__book {
  margin-top: 40px;
}
